@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    background-color: #8a05be;
    box-sizing: border-box;
    width: 100%;
    height: 165px;
    padding: 0 40px;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: auto;
}

.menu {
    display: flex;
    gap: 80px;
    margin-right: 80px;
}

.cabecalho {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.hero {
    height: 100vh;
    background-size: cover;
    font-size: 45px;
    color: white;
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url('Imageminicial.png');
    background-size: cover;
}


.hero_content {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100px;
    padding: 26px 80px 30px;

}


.hero_content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 530px;
    padding: 0px 87px;
}

.hero_content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #8a05be;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    margin: 40px 80px;
    display: inline-block;
}


footer {
    background-color: #8a05be;
    box-sizing: border-box;
    width: 100%;
    height: 165px;
    padding: 0 40px;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}

.hero {
    position: center;
    width: 100%;
    height: 1000px;
    background: url('/assets/img/Imagemformulario.png');
    background-size: 1200px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 520px;
    background: rgba(158, 46, 211, 0.4);
    padding: 20px;
    border-radius: 28px;
    backdrop-filter: blur(6px);
    font-family: "Lato", sans-serif;
}

.form-box h2 {
    color: #fff;
    margin-bottom: 0px;
    font-size: 25px;
    text-align: center;
}

.form-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 15px;
    outline: none;
}

input:focus,
input:active {
    border: 1px solid #000;
}

.form-box1 button {
    margin-top: 15px;
    width: 50%;
    padding: 20px;
    background: #fff;
    color: #000000;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    font-family: 'Montserrat';
    font-size: 20px;
}

.form-box button:hover {
    width: 480px;
    background: rgba(255, 255, 255, );
    padding: 15px;
    border-radius: 28px;
    backdrop-filter: blur(6px);
    font-family: "Lato", sans-serif;
}

.form-row label {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    opacity: 100%;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 300;
    text-align: left;
}

.form-row1 {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 300;
    text-align: center;
}