@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: medium;
}


* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.hero {
    height: 100vh;
    background-size: cover;
    font-size: 45px;
    color: white;
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url('../assets/img/Imageminicial.png');
    background-size: cover;
}


.hero_content>h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100px;
    padding: 26px 80px 30px;

}


.hero_content>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 530px;
    padding: 0px 87px;
}

.hero_content>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #8a05be;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    margin: 40px 85px;
    display: inline-block;
}

/* --------------------------------------------------------------------- */


.quem-somos_content {
    margin: 0 auto;
    background-color: #F3F0F0;
    width: 1090px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 16px;
    height: 510px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.quem-somos_content p {
    width: 470px;
    margin: 0 auto;
    padding: 21px 0;
    font-size: 20px;
}

.quem-somos_content img {
    width: 500px;
    margin: 0 auto;
}

.quem-somos a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #8a05be;
    font-size: 18px;
    padding: 20px 60px;
    border-radius: 12px;
    color: white;
    display: inline-block;
    margin-top: 36px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.quem-somos {
    margin: 137px 0;
}

.quem-somos .botao {
    text-align: center;
    margin: 0 auto;
}

.quem-somos h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-left: 85px;
    margin-bottom: 45px;
    
}