@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.container {
    margin-top: 50px;
    font-family: 'Lato';
    text-align: right;
    margin-right: 100px;
    font-size: x-large;

}

p.text1 {
    font-family: 'Lato';
    text-align: right;
    margin-right: 10px;
    white-space: pre-line;
    font-size: medium;
    font-family: 'Montserrat';
}

.coment1 {
    font-family: 'Montserrat';
    margin: 120px;
    width: 70%;
    max-width: 800px;
    position: relative;
}

.falaJ {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    padding: 0 40px;
}

.aspas {
    font-family: 'Mooli';
    font-weight: bold;
    font-size: xx-large;
    color: #8A05BE;
    position: absolute;
}

.aspas-esq {
    left: 0;
    top: -10px
}

.aspas-dir {
    right: 0;
    bottom: 60px;
}

.autora {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 40px;
    color: #8A05BE;
}


