* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.faq details {
    display: flex;
    margin-top: 57px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    max-width: 954px;
}

.faq summary::after {
    content: "+";
    float: right;
    transition: .2s;
}

.faq summary::-webkit-details-marker {
    display: none;
}

.faq summary {
    font-weight: 600;
    font-size: 1rem;
    list-style: none;
}

.faq details[open] summary::after {
    content: "−";
}

.faq details p {
    margin-top: 10px;
    font-size: .95rem;
    line-height: 1.4rem;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.faq details ul li {
    padding-left: 30px;
    margin-bottom: 10px;
    list-style: none;
}

.faq details ul p {
    margin-bottom: 10px;
}