/* ---------------------------------------------------------
   1. IMPORTAÇÃO DE FONTES
   --------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------------------------------------------------------
   2. RESETA ESTILOS PADRÕES DO NAVEGADOR
   --------------------------------------------------------- */
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; /* Evita que padding aumente o tamanho total */
}


/* ---------------------------------------------------------
   3. CONTAINERS PRINCIPAIS
   --------------------------------------------------------- */
.container {
    margin-top: 50px;
    margin-right: 100px;
    text-align: right;
    font-family: 'Lato';
    font-size: x-large;
}

.container2 {
    margin-top: 50px;
    margin-right: 10px;
    font-family: 'Lato';
    font-size: x-large;
    width: 100%;
    margin-left: auto;
    text-align: center;
}

.container3 {
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'lato';
    font-size: x-large;
    width: 100%;
    margin-left: auto;
    text-align: center;
}
/* ---------------------------------------------------------
   4. PARÁGRAFO – TEXTO PRINCIPAL
   --------------------------------------------------------- */
p.text1 {
    text-align: right;
    margin-right: 10px;
    white-space: pre-line; /* Mantém quebras de linha do HTML */
    font-size: medium;
    line-height: 0.7;
    font-family: 'Montserrat';
}


/* ---------------------------------------------------------
   5. BLOCO DE COMENTÁRIOS
   --------------------------------------------------------- */
.coment1 {
    font-family: 'Montserrat';
    margin: 0 120px 68px 120px; /* topo / lados / espaçamento para imagem */
    width: 70%;
    max-width: 800px;
    position: relative;
}

.coment2 {
    font-family: 'Montserrat';
    margin: 0 auto 50px auto;
    width: 70%;
    max-width: 800px;
    position: relative;
}

.coment3 {
    font-family: 'Montserrat';
    margin: 0 120px 68px 120px; /* topo / lados / espaçamento para imagem */
    width: 70%;
    max-width: 800px;
    position: relative;
    margin-top: 40px;
}

/* ---------------------------------------------------------
   6. TEXTO DA FALA
   --------------------------------------------------------- */
.falaJ {
    font-size: 18px;
    line-height: 1.3; /* Melhora a leitura */
    text-align: left;
    padding: 0 40px; /* Espaço interno para “respirar” */
}

.falaR {
    font-size: 18px;
    line-height: 1.3; /* Melhora a leitura */
    text-align: center;
    padding: 0 40px; /* Espaço interno para “respirar” */
}

.falaC {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    padding:0 40px;

}

/* ---------------------------------------------------------
   7. ASPAS DECORATIVAS
   --------------------------------------------------------- */
.aspas {
    font-family: 'Mooli';
    font-weight: bold;
    font-size: xx-large;
    color: #8A05BE;
    position: absolute;
}

/* Aspa esquerda */
.aspas-esq {
    left: 0;
    top: -10px;
}

/* Aspa direita */
.aspas-dir {
    right: 0;
    bottom: 60px;
}


/* ---------------------------------------------------------
   8. AUTORA / ASSINATURA
   --------------------------------------------------------- */
.autora {
    margin-top: 20px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: #8A05BE;
    white-space: pre-line;
}


/* ---------------------------------------------------------
   9. IMAGENS
   --------------------------------------------------------- */
img {
    width: 100%; /* Garante responsividade */

}

/* ---------------------------------------------------------
   10. BOTÃO - FAÇA PARTE!
   --------------------------------------------------------- */

.btn-container {
    width: 100%;
    text-align: center; 
    margin-bottom: 30px;
}

button.fp {
    background-color: #8A05BE;
    color: white;
    font-family: 'Montserrat';
    font-size: large;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin-top: 45px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button.fp:hover {
     background-color: #6f0499; /* tom um pouco mais escuro */
}