@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: #fff;
    margin: 0px;
    padding: 120px;

}

.vantagem-nexus {
    text-align: center;
    padding: 50px 20px;
    font-family: "Montserrat", sans-serif;
}

.vantagem-nexus h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #1E1E3F;
}

.vantagem-nexus .subtext {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    color: #494949;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    filter: drop-shadow(2px 2px 4px #F6F0F0);
}

.card {
    background: #F3F0F0;
    width: 320px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #1a1a1a;
    text-align: center;
    justify-content: center;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
    justify-content: center;
}

.card strong {
    font-weight: 600;
    justify-content: center;
}