/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;500;600;700&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: #fff;
}

/* TÍTULO */
.container {
    margin-top: 50px;
    margin-right: 100px;
    text-align: right;
    font-family: 'Lato';
    font-size: x-large;
}

p.text1 {
    text-align: right;
    margin-right: 10px;
    white-space: pre-line;
    font-size: medium;
    font-family: 'Montserrat';
}

/* DEPOIMENTOS */
.coment1, .coment2, .coment3 {
    font-family: 'Montserrat';
    margin: 40px auto;
    width: 70%;
    max-width: 800px;
    position: relative;
}

.falaJ, .falaR, .falaC {
    font-size: 18px;
    line-height: 1.3;
    padding: 0 40px;
}

.falaJ, .falaC {
    text-align: left;
}

.falaR {
    text-align: center;
}

/* ASPAS */
.aspas {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 34px;
    color: #8A05BE;
    position: absolute;
}

.aspas-esq {
    left: 0;
    top: -10px;
}

.aspas-dir {
    right: 0;
    bottom: 60px;
}

/* AUTOR */
.autora {
    margin-top: 20px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: #8A05BE;
}

/* IMAGENS */
.fotos {
    width: 100%;
}

/* BOTÃO */
.btn-container {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

button.fp {
    background-color: #8A05BE;
    color: white;
    font-family: 'Montserrat';
    font-size: large;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin-top: 45px;
    cursor: pointer;
    transition: 0.2s;
}

button.fp:hover {
    background-color: #6f0499;
}
