@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.faq h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #1E1E3F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.faq details {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    background-color: #F3F0F0;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 'SemiBold';
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 954px;
    min-height: 100px;
}

.faq summary::after {
    content: "+";
    float: right;
    transition: .2s;
}

.faq summary::-webkit-details-marker {
    display: none;
}

.faq summary {
    font-size: 32px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #1E1E3F;
    font-size: 32px;
    font-weight: 600px;
}

.faq details[open] summary::after {
    content: "−";
}

.faq details p {
    text-align: left;
    margin-top: 10px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.faq details ul li {
    padding-left: 30px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 28px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
}

.faq details ul p {
    margin-bottom: 10px;
}